/* CSS Document */

$breakpoints: (
    'sm': 'screen and (max-width: 640px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 1000px)',
    'xl': 'screen and (max-width: 1200px)'
) !default;

//メディアクエリ用
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

body {
	margin: 0;
  padding: 0;
  width: 100%;
}

ul {
	&.hmenu {
		padding-left: 15px;
		background-color: red;
    text-align: center;
    margin-top: 0;
		
		li {
			width: 180px;
			display: inline-block;
			background-color: red;
		}
		
		a {
			color: white;
			line-height: 40px;
			text-decoration: none;
			font-weight: bold;
			text-align: center;
			display: block;
			
			&:hover {
				background-color: #C80000;
			}
			
			&.active {
				color: black;
			}
		}
	}
}

.header{
  background-color: black;
  width: 100%;

  .logo{
    height: 40px;
    margin: 10px 10px 8px 30px;
    @include mq(sm){
      margin-left: 10px;
      width: 90%;
      height: auto;
    }
  }
}

div.article{
  width: 800px;
  margin: 0 auto;
  @include mq(md){
    width: 95%;
  }

  h1{
    @include mq(sm){
      font-size: 1.7rem;
    }
  }

  section{
    margin-top: 20px;

    &.card{
      padding: 5px 10px;
      border-radius: 1px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.5);

      h2{
        margin-top: 5px;
      }
    }
  }

  img.top{
    width: 100%;
  }

  .first-color{
    &::first-letter{
      color: red;
    }
  }

  p{
    line-height: 1.7;
  }

  .map{
    width: 100%;
    height: 500px;
  }
}

footer{
  text-align: center;
}